/* Main styles */

@font-face {
  font-family: "Sansation";
  src: url(../src/assets/fonts/Sansation_Regular.ttf);
}

@font-face {
  font-family: "Sansation_Bold";
  src: url(../src/assets/fonts/Sansation_Bold.ttf);
}

@font-face {
  font-family: "Sansation_Bold_Italic";
  src: url(../src/assets/fonts/Sansation_Bold_Italic.ttf);
}

@font-face {
  font-family: "Sansation_Italic";
  src: url(../src/assets/fonts/Sansation_Italic.ttf);
}

@font-face {
  font-family: "Sansation_Light";
  src: url(../src/assets/fonts/Sansation_Light.ttf);
}

@font-face {
  font-family: "Sansation_Light_Italic";
  src: url(../src/assets/fonts/Sansation_Light_Italic.ttf);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../src/assets/fonts/helveticaneue-regular.ttf);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: "Sansation";
  color: #000000;
}

.bg-purple {
  background-color: #260633;
}

.bg-pink {
  background-color: #fd5afb;
}

.border-pink {
  border-color: #fd5afb !important;
}

.border-dashed{
  border-style: dashed !important;
}

.text-purple a:focus,
.text-purple a:active,
.text-purple {
  color: #260633;
}

.border-purple {
  border-color: #260633 !important;
}

.text-primary {
  color: #2d44f1;
}

.text-pink { 
  color: #fd5afb;
}

#profile,
#preloader {
  min-height: 100vh;
}

#profilePic {
  position: relative;
  width: 125px;
}

#profilePic button {
  width: 37px;
  height: 37px;
  padding: 5px 5px;
  position: absolute;
  top: 75px;
  right: -5px;
}

#profilePic img {
  border: 5px solid #1818ff;
}

#profileMenu .list-group-item {
  background-color: #260633;
  border-color:#FFFFFF;
  border-style:  dashed ;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0.5px;
  border-radius: 0px;
}

#profileMenu .list-group-item:first-child {
  border-top-width: 0.5px;
}

#mainMenu {
  box-shadow: 0px -4px 3px #00000026;
}

#mainMenu small {
  font-size: 10px;
  margin-top: -5px !important;
  display: block;
}

#homePic{
  width: 215px;
  margin:-105px auto 0 auto !important;
}

#adsMainPic{
  position: relative;
  width: 215px;
  margin:-105px auto 0 auto !important;
}

#adsMainPic button{
  position: absolute;
  width: 37px;
  height: 37px;
  padding: 5px 5px;
  position: absolute;
  top: 135px;
  right: -5px;
}